{% extends 'base.html.twig' %}

{% block title %}PaintLab | About Us{% endblock %}

{% block body %}
    <div class="col-lg-4 col-md-6 mb-5">
        <div class="post-entry-1 h-100 person-1">          
            <img src="images/person_3.jpg" alt="Image" class="img-fluid">
              <div class="post-entry-1-contents">
                <span class="meta">Founder</span>
                <h2>James Doe</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, sapiente.</p>
              </div>
        </div>
    </div>
    
{% endblock %}
