<div class="site-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="img-years">
            <img src="\img\welcome.jpg" alt="Image" class="img-fluid">
            <div class="year">
              <span>3<span>years <br>Best Sale !<br>Excellent Price</span></span>
            </div>
          </div>
        </div>

        <div class="col-lg-5 ml-auto pl-lg-5 text-center">
          <h2 class="text-center">Welcome To PAINTLAB!</h2>
          <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!</p>
          <p><a href="#" class="btn btn-primary">Learn More</a></p>
        </div>
    </div>
  </div>
</div>