<div class="site-section">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="img-years">
            <img src="\img\welcome.jpg" alt="Image" class="img-fluid">
            <div class="year">
              <span>3<span>years <br>Best Sale !<br>Excellent Price</span></span>
            </div>
          </div>
        </div>

        <div class="col-lg-5 ml-auto pl-lg-5 text-center">
          <h2 class="text-center">Welcome To PAINTLAB!</h2>
          <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!</p>
          <p><a href="#" class="btn btn-primary">Learn More</a></p>
        </div>
    </div>
  </div>
</div>


<div class="site-section bg-light">
      <div class="container">
        
        <div class="row justify-content-center  mb-5">
          <div class="col-md-7 text-center">
            <h3 class="scissors text-center">Paintings &amp; Pricing</h3>
            <p class="mb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!</p>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <div class="nonloop-block-13 owl-carousel d-flex">
              
              <div class="item-1 h">
                <img src="img\tab1.jpg" alt="Image" class="img-fluid">
                <div class="item-1-contents">
                  <h3>Haircut</h3>
                  <ul>
                    <li class="d-flex"><span>Men's Cut</span> <span class="price ml-auto">$29.00</span></li>
                  </ul>
                </div>
              </div>

              <div class="item-1 h">
                <img src="img\tab2.jpg" alt="Image" class="img-fluid">
                <div class="item-1-contents">
                  <h3>Hair Styling</h3>
                  <ul>
                    <li class="d-flex"><span>Shampoo</span> <span class="price ml-auto">$29.00</span></li>
                  </ul>
                </div>
              </div>

              <div class="item-1 h">
                <img src="img\tab3.jpg" alt="Image" class="img-fluid">
                <div class="item-1-contents">
                  <h3>Hair Scalp Care</h3>
                  <ul>
                    <li class="d-flex"><span>Shampoo</span> <span class="price ml-auto">$29.00</span></li>
                  </ul>
                </div>
              </div>

            </div>
            
          </div>
        </div>

      </div>
    </div>